[[Switch?
    &get=`[[+class]]`
    &c1=`forestPlant`
    &do1=`<a href="?a=resource/update&id=[[+parent_id]]"><i class="icon icon-fw icon-edit" title="Edit forest"></i></a> [[#[[+parent_id]].pagetitle]]`
]]