<strong>
    [[+Taxon_name:empty=`Unknown`]]
    [[+Taxon_name_local:prepend=`/ `]]
</strong>
[[+Taxon_name_latin:prepend=`<em class="meta">`:append=`</em>`]]
[[+variety:prepend=`(Variety: `:append=`)`]]